*{
    box-sizing: border-box;
}
.center{
    
    padding-left: 40%;
    padding-top: 5%;
}
input[type=text]{
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    border-color:whitesmoke;
    width: 70%;
    position: relative;
    right: 20%;
}
textarea{
    color: teal;
}
button{
    padding: 5px;
    background-color:white;
    border-color: rgb(138, 118, 118);
    margin: 10px;
}
a{ text-decoration: none;

}
.footer{
    position: relative;
    top: 250px;
    color:dimgray
}